p.has-background {
	padding: $padding_horizontal $padding_vertical;
}

.wp-block-quote {
	margin: 0 0 $spacing_vertical;
	color: $color__text-quote;

	footer {
		@include font-size(0.8);

		position: relative;
		margin-top: 1em;
		color: $color__text-quote-footer;
		font-style: normal;
	}

	&.blocks-quote-style-1 {
		padding-left: 1em;
		border-left: 4px solid $color__border-quote;
	}

	&.blocks-quote-style-2 {
		padding: 0 1em;

		p {
			@include font-size(1.5);

			font-style: italic;
			line-height: 1.6;
		}

		footer {
			@include font-size(1.2);

			text-align: right;
		}
	}
}

.wp-block-pullquote {
	padding: ($padding_horizontal * 3);
	border-top: 4px solid $color__border-quote;
	border-bottom: 4px solid $color__border-quote;
	color: $color__text-quote;
	text-align: center;

	> p {
		@include font-size(1.5);

		line-height: 1.6;
		font-weight: 900;
	}

	> cite {
		@include font-size(0.8);

		position: relative;
		color: $color__text-quote-footer;
		font-weight: 900;
		text-transform: uppercase;
	}
}

.wp-block-separator {
	border: 0;
	border-bottom: 2px solid $color__border-separator;
	max-width: 100px;
}

.wp-block-button {
	margin-bottom: $spacing_vertical;

	.wp-block-button__link {
		padding: $padding_vertical $padding_horizontal;
		color: $color__text-button;
		background-color: $color__background-button;
		border-radius: $border-radius;
		border: 0;
		text-decoration: none;
		appearance: none;

		&:hover,
		&:focus {
			color: $color__text-button;
			background-color: $color__background-button-hover;
		}
	}
}

.wp-block-image,
.wp-block-embed {
	&.alignwide,
	&.alignfull {
		text-align: center;
	}
}

.wp-block-image img {
	display: block;
	width: 100%;
}

.wp-block-embed {
	position: relative;
	height: 0;
	padding-top: 56.25%;

	&.alignwide {
		body.no-sidebar .entry-header &,
		body.no-sidebar .entry-content &,
		body.no-sidebar .entry-footer &,
		body.mce-content-body & {
			@media (min-width: ($site_maxwidth-text + $padding_horizontal * 2)) {
				padding-top: calc((100vw - #{$padding_horizontal} * 2 - 15px) * 0.5625);
			}

			@media (min-width: ($site_maxwidth)) {
				padding-top: calc((#{$site_maxwidth} - #{$padding_horizontal} * 2) * 0.5625);
			}
		}
	}

	&.alignfull {
		body.no-sidebar .entry-header &,
		body.no-sidebar .entry-content &,
		body.no-sidebar .entry-footer &,
		body.mce-content-body & {
			@media (min-width: ($site_maxwidth-text + $padding_horizontal * 2)) {
				padding-top: calc((100vw - 15px) * 0.5625);
			}
		}
	}

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
