html {
	box-sizing: border-box;
	text-direction: ltr;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $color__background-body;
}

blockquote,
q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	margin: $spacing_vertical auto;
	border: 0;
	border-bottom: 2px solid $color__border-separator;
}

@import "lists";

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

@import "tables";
