.site-navbar {
	position: relative;
	color: $color__text-navbar;
	background-color: $color__background-navbar;

	a {
		color: $color__link-navbar;

		&:visited {
			color: $color__link-navbar-visited;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color__link-navbar-hover;
		}
	}

	&.site-component > .site-component-inner {
		min-height: 5rem;
	}

	&.site-component.is-flex > .site-component-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&.site-component.is-flex.centered > .site-component-inner {
		justify-content: center;
	}

	.site-branding:first-child {
		text-align: left;
	}

	.site-branding:last-child {
		text-align: right;
	}

	.js & .site-navigation {
		.site-navigation-content {
			position: absolute;
			display: none;
			top: 100%;
			right: 0;
			left: 0;
			padding: $padding_vertical (0.5 * $padding_horizontal);
			background-color: $color__background-navbar;

			.site-navigation-extra {
				padding: 0 (0.5 * $padding_horizontal);
			}

			@media screen and (min-width: $site_breakpoint) {
				position: static;
				display: flex;
				padding: 0;

				.site-navigation-extra {
					padding: 0;
				}
			}
		}

		&.toggled {
			.site-navigation-content {
				display: block;

				@media screen and (min-width: $site_breakpoint) {
					display: flex;
				}
			}
		}
	}

	body.navbar-left & .site-navigation,
	body.navbar-right & .site-navigation {
		ul.nav-menu {
			display: block;

			@media screen and (min-width: $site_breakpoint) {
				> li {
					display: block;
				}
			}
		}
	}

	.js body.navbar-left & .site-navigation,
	.js body.navbar-right & .site-navigation {
		a {
			padding: (0.5 * $padding_vertical) 0;
		}

		.site-navigation-content {
			position: static;
			padding: $padding_vertical 0;

			@media screen and (min-width: $site_breakpoint) {
				display: block;
			}
		}

		&.toggled {
			.site-navigation-content {
				display: block;

				@media screen and (min-width: $site_breakpoint) {
					display: block;
				}
			}

			ul.nav-menu {
				display: block;
			}
		}

		ul.nav-menu {
			display: none;

			@media screen and (min-width: $site_breakpoint) {
				display: block;
			}
		}
	}
}
