{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": "tab",
    "no-empty-source": null,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "text-direction",
        ],
      },
    ],
    "selector-pseudo-element-colon-notation": "single",
  }
}