/* -------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Editor
# Typography
# Blocks
------------------------------------------------------------- */
/* -------------------------------------------------------------
# Editor
------------------------------------------------------------- */
.edit-post-visual-editor,
.edit-post-visual-editor p,
.edit-post-visual-editor button,
.edit-post-visual-editor input,
.edit-post-visual-editor select,
.edit-post-visual-editor textarea {
	color: #404040;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

.editor-post-title textarea.editor-post-title__input {
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	line-height: 1.5;
}

/* -------------------------------------------------------------
# Typography
------------------------------------------------------------- */
.edit-post-visual-editor h1,
.edit-post-visual-editor h2,
.edit-post-visual-editor h3,
.edit-post-visual-editor h4,
.edit-post-visual-editor h5,
.edit-post-visual-editor h6 {
	padding: 1em 0 0;
	margin: 0 0 1em;
	clear: both;
	line-height: 1.4;
}

.edit-post-visual-editor h1:first-child,
.edit-post-visual-editor h2:first-child,
.edit-post-visual-editor h3:first-child,
.edit-post-visual-editor h4:first-child,
.edit-post-visual-editor h5:first-child,
.edit-post-visual-editor h6:first-child {
	padding: 0;
}

.edit-post-visual-editor h1 {
	font-size: 24px;
	font-size: 1.5rem;
}

.edit-post-visual-editor h2 {
	font-size: 20px;
	font-size: 1.25rem;
}

h1 + .edit-post-visual-editor h2 {
	padding: 0;
}

.edit-post-visual-editor h3 {
	font-size: 18px;
	font-size: 1.125rem;
}

h2 + .edit-post-visual-editor h3 {
	padding: 0;
}

.edit-post-visual-editor h4 {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 800;
}

h3 + .edit-post-visual-editor h4 {
	padding: 0;
}

.edit-post-visual-editor h5 {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
}

h4 + .edit-post-visual-editor h5 {
	padding: 0;
}

.edit-post-visual-editor h6 {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 800;
}

h5 + .edit-post-visual-editor h6 {
	padding: 0;
}

.edit-post-visual-editor p {
	padding: 0;
	margin: 0 0 1em;
}

.edit-post-visual-editor dfn,
.edit-post-visual-editor cite,
.edit-post-visual-editor em,
.edit-post-visual-editor i {
	font-style: italic;
}

.edit-post-visual-editor blockquote {
	padding-right: 1rem;
	margin: 0 0 1em;
	color: #404040;
	border-right: 4px solid #404040;
}

.edit-post-visual-editor blockquote cite,
.edit-post-visual-editor blockquote footer {
	margin-top: 1em;
	color: #8f98a1;
	font-size: 13.6px;
	font-size: 0.85rem;
	font-style: normal;
}

.edit-post-visual-editor address {
	margin: 0 0 1em;
}

.edit-post-visual-editor pre {
	max-width: 100%;
	padding: 1.6em;
	margin-bottom: 1.6em;
	overflow: auto;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	background: #eee;
}

.edit-post-visual-editor code,
.edit-post-visual-editor kbd,
.edit-post-visual-editor tt,
.edit-post-visual-editor var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

.edit-post-visual-editor abbr,
.edit-post-visual-editor acronym {
	border-bottom: 1px dotted #404040;
	cursor: help;
}

.edit-post-visual-editor mark,
.edit-post-visual-editor ins {
	text-decoration: none;
	background: #fff9c0;
}

.edit-post-visual-editor big {
	font-size: 125%;
}

.edit-post-visual-editor a {
	color: #21759b;
}

.edit-post-visual-editor a:visited {
	color: #21759b;
}

.edit-post-visual-editor a:hover,
.edit-post-visual-editor a:focus,
.edit-post-visual-editor a:active {
	color: #1a5c79;
}

.edit-post-visual-editor a:focus {
	outline: thin dotted;
}

.edit-post-visual-editor a:hover,
.edit-post-visual-editor a:active {
	outline: 0;
}

.edit-post-visual-editor .icon {
	position: relative;
	top: -0.0625em;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;

	fill: currentColor;
}

/* -------------------------------------------------------------
# Blocks
------------------------------------------------------------- */
.edit-post-visual-editor .wp-block-quote cite,
.edit-post-visual-editor .wp-block-quote footer {
	margin-top: 1em;
	color: #8f98a1;
	font-size: 13.6px;
	font-size: 0.85rem;
	font-style: normal;
}

.edit-post-visual-editor .wp-block-pullquote {
	padding: 3rem;
	color: #404040;
	text-align: center;
	border-top: 4px solid #404040;
	border-bottom: 4px solid #404040;
	border-right: none;
}

.edit-post-visual-editor .wp-block-pullquote > p {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 1.6;
}

.edit-post-visual-editor .wp-block-pullquote cite,
.edit-post-visual-editor .wp-block-pullquote footer {
	position: relative;
	color: #8f98a1;
	font-size: 12.8px;
	font-size: 0.8rem;
	font-weight: 900;
	text-transform: uppercase;
}

.edit-post-visual-editor .wp-block-separator {
	max-width: 8rem;
	border: 0;
	border-bottom: 2px solid #8f98a1;
}

.edit-post-visual-editor .wp-block-button {
	margin-bottom: 1em;
}

.edit-post-visual-editor .wp-block-button .wp-block-button__link {
	padding: 0.75rem 1rem;
	color: #404040;
	text-decoration: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: #e6e6e6;
	border: 0;
	border-radius: 3px;
}

.edit-post-visual-editor .wp-block-button .wp-block-button__link:hover,
.edit-post-visual-editor .wp-block-button .wp-block-button__link:focus {
	color: #404040;
	background-color: #d2d2d2;
}

.edit-post-visual-editor .wp-block-gallery {
	padding-right: 0;
	list-style: none;
}

.edit-post-visual-editor .wp-block-gallery.aligncenter .blocks-gallery-image,
.edit-post-visual-editor .wp-block-gallery.aligncenter .blocks-gallery-item,
.edit-post-visual-editor .wp-block-gallery.alignleft .blocks-gallery-image,
.edit-post-visual-editor .wp-block-gallery.alignleft .blocks-gallery-item,
.edit-post-visual-editor .wp-block-gallery.alignright .blocks-gallery-image,
.edit-post-visual-editor .wp-block-gallery.alignright .blocks-gallery-item,
.edit-post-visual-editor .wp-block-gallery .blocks-gallery-image,
.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item {
	margin: 0.5em;
}

.edit-post-visual-editor .wp-block-cover-image {
	width: auto;
	height: 25rem;
	margin-bottom: 1em;
}

.edit-post-visual-editor .wp-block-image.alignwide,
.edit-post-visual-editor .wp-block-image.alignfull,
.edit-post-visual-editor .wp-block-embed.alignwide,
.edit-post-visual-editor .wp-block-embed.alignfull {
	text-align: center;
}

.edit-post-visual-editor .wp-block-image img {
	display: block;
	width: 100%;
}

.edit-post-visual-editor .wp-block-embed {
	position: relative;
	height: 0;
	padding-top: 56.25%;
}

@media (min-width: 42rem) {
	body.no-sidebar .entry-header .edit-post-visual-editor .wp-block-embed.alignwide,
	body.no-sidebar .entry-content .edit-post-visual-editor .wp-block-embed.alignwide,
	body.no-sidebar .entry-footer .edit-post-visual-editor .wp-block-embed.alignwide,
	body.mce-content-body .edit-post-visual-editor .wp-block-embed.alignwide {
		padding-top: calc((100vw - 1rem * 2) * 0.5625);
	}
}

@media (min-width: 72rem) {
	body.no-sidebar .entry-header .edit-post-visual-editor .wp-block-embed.alignwide,
	body.no-sidebar .entry-content .edit-post-visual-editor .wp-block-embed.alignwide,
	body.no-sidebar .entry-footer .edit-post-visual-editor .wp-block-embed.alignwide,
	body.mce-content-body .edit-post-visual-editor .wp-block-embed.alignwide {
		padding-top: calc((72rem - 1rem * 2) * 0.5625);
	}
}

@media (min-width: 42rem) {
	body.no-sidebar .entry-header .edit-post-visual-editor .wp-block-embed.alignfull,
	body.no-sidebar .entry-content .edit-post-visual-editor .wp-block-embed.alignfull,
	body.no-sidebar .entry-footer .edit-post-visual-editor .wp-block-embed.alignfull,
	body.mce-content-body .edit-post-visual-editor .wp-block-embed.alignfull {
		padding-top: calc(100vw * 0.5625);
	}
}

@media (min-width: 42rem) {
	body.wrapped-layout.no-sidebar .entry-header .edit-post-visual-editor .wp-block-embed.alignfull,
	body.wrapped-layout.no-sidebar .entry-content .edit-post-visual-editor .wp-block-embed.alignfull,
	body.wrapped-layout.no-sidebar .entry-footer .edit-post-visual-editor .wp-block-embed.alignfull {
		padding-top: calc(72rem * 0.5625);
	}
}

.edit-post-visual-editor .wp-block-embed > iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.edit-post-visual-editor .wp-block-embed {
	position: static;
	height: auto;
	padding-top: 0;
}
