$color__black: #404040;
$color__darkgray: #8f98a1;
$color__lightgray: #ccc;
$color__white: #fff;

$color__primary: #21759b;
$color__primary-light: #afe6ff;
$color__success: #46b450;
$color__success-light: #d4ffd8;
$color__info: #00a0d2;
$color__info-light: #d1f4ff;
$color__warning: #ffb900;
$color__warning-light: #fff3d2;
$color__error: #dc3232;
$color__error-light: #ffdcdc;

$color__background-body: $color__white;
$color__background-screen: #f1f1f1;
$color__background-button: #e6e6e6;
$color__background-button-hover: darken($color__background-button, 8%);
$color__background-button-primary: $color__primary;
$color__background-button-primary-hover: darken($color__background-button-primary, 8%);
$color__background-header: $color__white;
$color__background-footer: $color__white;
$color__background-social-icons: #767676;
$color__background-navbar: #eee;
$color__background-top-bar: $color__primary;
$color__background-bottom-bar: $color__primary;
$color__background-media-time: $color__primary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: $color__black;
$color__text-screen: $color__primary;
$color__text-button: $color__black;
$color__text-button-primary: $color__white;
$color__text-header: $color__black;
$color__text-footer: $color__black;
$color__text-social-icons: #fff;
$color__text-navbar: $color__black;
$color__text-top-bar: $color__white;
$color__text-bottom-bar: $color__white;
$color__text-input: $color__black;
$color__text-input-focus: darken($color__text-input, 8%);
$color__text-input-placeholder: lighten($color__text-input, 40%);
$color__text-quote: $color__black;
$color__text-quote-footer: $color__darkgray;
$color__text-subhead: $color__darkgray;
$color__link: $color__primary;
$color__link-visited: $color__link;
$color__link-hover: darken($color__link, 8%);
$color__link-header: $color__black;
$color__link-header-visited: $color__link-header;
$color__link-header-hover: darken($color__link-header, 8%);
$color__link-footer: $color__primary;
$color__link-footer-visited: $color__link-footer;
$color__link-footer-hover: darken($color__link-footer, 8%);
$color__link-navbar: $color__primary;
$color__link-navbar-visited: $color__link-navbar;
$color__link-navbar-hover: darken($color__link-navbar, 8%);
$color__link-top-bar: $color__white;
$color__link-top-bar-visited: $color__link-top-bar;
$color__link-top-bar-hover: darken($color__link-top-bar, 8%);
$color__link-bottom-bar: $color__white;
$color__link-bottom-bar-visited: $color__link-bottom-bar;
$color__link-bottom-bar-hover: darken($color__link-bottom-bar, 8%);

$color__border-input: $color__lightgray;
$color__border-input-focus: darken($color__border-input, 8%);
$color__border-abbr: $color__black;
$color__border-quote: $color__black;
$color__border-separator: $color__darkgray;
$color__border-table: $color__darkgray;
