$site_maxwidth: 72rem;
$site_maxwidth-text: 40rem;
$site_breakpoint: 48rem;
$site_navbar-vertical-width: 20rem;
$site_navbar-vertical-width-collapsed: 3rem;
$spacing_horizontal: 1em;
$spacing_vertical: 1em;
$spacing_vertical-big: 2em;
$padding_horizontal: 1rem;
$padding_vertical: 0.75rem;
$social_icon_wrap_size: 40px;
$social_icon_size: 16px;
$border-radius: 3px;
