$font__main: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
$font__main-arabic: Tahoma, Arial, sans-serif;
$font__main-chinese: "PingFang TC", "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif;
$font__main-chinese-cn: "PingFang SC", "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif;
$font__main-cyrillic: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
$font__main-devanagari: Arial, sans-serif;
$font__main-greek: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font__main-gujarati: Arial, sans-serif;
$font__main-hebrew: "Arial Hebrew", Arial, sans-serif;
$font__main-japanese: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
$font__main-korean: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;
$font__main-thai: "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-headings: 1.4;
$font__line-height-pre: 1.6;
