.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $spacing_vertical-big;
}

.entry-header,
.entry-content,
.entry-footer {
	margin: 0 0 $spacing_vertical;

	body.no-sidebar & {
		margin: 0 auto $spacing_vertical;
		max-width: $site_maxwidth-text;
	}
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 $spacing_vertical;
}
