.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $spacing_vertical-big;
}

.entry-header,
.entry-content,
.entry-footer {
	margin: 0 0 $spacing_vertical;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 $spacing_vertical;
}
