.footer-widgets {
	.site-component-inner {
		@media (min-width: $site_breakpoint) {
			align-items: stretch;
			justify-content: stretch;

			.footer-widget-column {
				flex: 1;

				&.footer-widget-column-wide {
					flex: 2;
				}
			}
		}
	}
}
