.footer-navigation {
	padding-top: $padding_vertical;
	padding-bottom: $padding_vertical;
	text-align: center;

	ul {
		display: inline-block;
		margin-bottom: 0;
		margin-left: 0;
		padding-left: 0;
		list-style: none;
	}

	li {
		display: inline;

		&:before {
			content: ' | ';
		}

		&:first-child:before {
			content: none;
		}
	}
}
