input[type="search"].search-field {
	display: block;
	padding: (0.5 * $padding_vertical) (0.5 * $padding_horizontal);
	width: auto;
	float: left;
	border: 1px solid $color__background-button;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

button.search-submit {
	display: block;
	padding: (0.5 * $padding_vertical) (0.5 * $padding_horizontal);
	background-color: $color__background-button;
	border: 1px solid $color__background-button;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.no-svg .search-submit .screen-reader-text {
	@include override-screen-reader-text();
}

.page-login-form {
	@include center-block();

	body.no-sidebar & {
		max-width: 20rem;
	}

	#loginform {
		overflow: hidden;

		.login-remember {
			float: left;
		}

		.login-submit input[type="submit"] {
			float: right;
		}

		+ .login-links {
			@include font-size(0.9);
		}
	}

	.login-links {
		text-align: center;
	}
}

#signup-content {
	@include horizontal-padding();

	.wp-signup-container,
	.wp-activate-container {
		@include center-block();

		body.no-sidebar & {
			max-width: 20rem;
		}
	}
}

#setupform,
#activateform {
	@include font-size(0.9);

	label,
	input,
	select,
	textarea {
		@include font-size(1);
	}

	br {
		display: block;
		margin: 0;
		content: '';
	}

	label {
		margin-top: $spacing_vertical;
	}

	input[type="submit"] {
		color: $color__text-button-primary;
		background-color: $color__background-button-primary;

		&:visited {
			color: $color__text-button-primary;
		}

		&:hover,
		&:focus {
			background-color: $color__background-button-primary-hover;
		}
	}

	p.submit {
		text-align: right;
	}

	p.error {
		padding: 0.5em 1em;
		background-color: $color__error-light;
		border-left: 4px solid $color__error;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	}
}

#signup-welcome .h3 {
	padding: 0 $padding_horizontal;
	font-weight: bold;
}
