/* -------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Editor
# Typography
# Elements
# Forms
# Accessibility
# Alignments
# Media
	## Captions
	## Galleries
------------------------------------------------------------- */
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/* -------------------------------------------------------------
# Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
------------------------------------------------------------- */
@import "normalize";

/* -------------------------------------------------------------
# Editor
------------------------------------------------------------- */
body {
	margin: $padding_vertical auto;
	padding-right: $padding_horizontal;
	padding-left: $padding_horizontal;
	max-width: $site_maxwidth-text;
}

/* -------------------------------------------------------------
# Typography
------------------------------------------------------------- */
@import "typography/typography";

/* -------------------------------------------------------------
# Elements
------------------------------------------------------------- */
@import "elements/elements";

/* -------------------------------------------------------------
# Forms
------------------------------------------------------------- */
@import "forms/forms";

/* -------------------------------------------------------------
# Accessibility
------------------------------------------------------------- */
@import "modules/accessibility";

/* -------------------------------------------------------------
# Alignments
------------------------------------------------------------- */
@import "modules/alignments";

/* -------------------------------------------------------------
# Media
------------------------------------------------------------- */
@import "media/media";
