.site-content {
	@include center-grid();
	@include limit-width();

	display: grid;
	justify-items: stretch;
	align-items: stretch;
	grid-template-columns: auto;

	.content-area,
	.widget-area {
		@include horizontal-padding();
	}

	.content-area {
		grid-area: site-content-area;
	}

	.widget-area {
		grid-area: site-widget-area;
	}

	body.no-sidebar & {
		grid-template-areas: "site-content-area";

		.widget-area {
			display: none;
		}
	}

	body.left-sidebar & {
		grid-template-areas: "site-widget-area" "site-content-area";
	}

	body.right-sidebar & {
		grid-template-areas: "site-content-area" "site-widget-area";
	}

	@media (min-width: $site_breakpoint) {
		body.left-sidebar & {
			grid-template-areas: "site-widget-area site-content-area";
			grid-template-columns: 1fr 2fr;
		}

		body.right-sidebar & {
			grid-template-areas: "site-content-area site-widget-area";
			grid-template-columns: 2fr 1fr;
		}

		body.left-sidebar.sidebar-small & {
			grid-template-columns: 1fr 3fr;
		}

		body.right-sidebar.sidebar-small & {
			grid-template-columns: 3fr 1fr;
		}

		body.left-sidebar.sidebar-medium & {
			grid-template-columns: 1fr 2fr;
		}

		body.right-sidebar.sidebar-medium & {
			grid-template-columns: 2fr 1fr;
		}

		body.left-sidebar.sidebar-large & {
			grid-template-columns: 1fr 1fr;
		}

		body.right-sidebar.sidebar-large & {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* -------------------------------------------------------------
## Posts and pages
------------------------------------------------------------- */
@import "primary/posts-and-pages";

/* -------------------------------------------------------------
## Comments
------------------------------------------------------------- */
@import "primary/comments";

/* -------------------------------------------------------------
# Widgets
------------------------------------------------------------- */
@import "secondary/widgets";
