.site {
	@include center-grid();
	@include limit-width();

	display: grid;
	justify-items: stretch;
	align-items: stretch;
	grid-template-columns: 1fr;
	grid-template-areas: "header" "main" "sidebar" "footer";

	.site-header {
		grid-area: header;
	}

	.site-main {
		grid-area: main;
	}

	.site-sidebar {
		grid-area: sidebar;
	}

	.site-footer {
		grid-area: footer;
	}

	body.no-sidebar & {
		grid-template-areas: "header" "main" "footer";

		.site-sidebar {
			display: none;
		}
	}

	body.left-sidebar & {
		grid-template-areas: "header" "sidebar" "main" "footer";
	}

	@media (min-width: $site_breakpoint) {
		body.left-sidebar & {
			grid-template-columns: 1fr 2fr;
			grid-template-areas: "header header" "sidebar main" "footer footer";
		}

		body.right-sidebar & {
			grid-template-columns: 2fr 1fr;
			grid-template-areas: "header header" "main sidebar" "footer footer";
		}

		body.left-sidebar.sidebar-small & {
			grid-template-columns: 1fr 3fr;
		}

		body.right-sidebar.sidebar-small & {
			grid-template-columns: 3fr 1fr;
		}

		body.left-sidebar.sidebar-medium & {
			grid-template-columns: 1fr 2fr;
		}

		body.right-sidebar.sidebar-medium & {
			grid-template-columns: 2fr 1fr;
		}

		body.left-sidebar.sidebar-large & {
			grid-template-columns: 1fr 1fr;
		}

		body.right-sidebar.sidebar-large & {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.site-main,
.site-sidebar {
	@include horizontal-padding();
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* -------------------------------------------------------------
## Posts and pages
------------------------------------------------------------- */
@import "primary/posts-and-pages";

/* -------------------------------------------------------------
## Comments
------------------------------------------------------------- */
@import "primary/comments";

/* -------------------------------------------------------------
# Widgets
------------------------------------------------------------- */
@import "secondary/widgets";
