$site_maxwidth: 72rem;
$site_breakpoint: 48rem;
$spacing_horizontal: 1em;
$spacing_vertical: 1em;
$padding_horizontal: 1rem;
$padding_vertical: 0.75rem;
$social_icon_wrap_size: 40px;
$social_icon_size: 16px;
