.footer-widgets {
	@include center-block();
	@include limit-width();

	.widget-column {
		@include horizontal-padding();
	}

	@media (min-width: $site_breakpoint) {
		@include center-flex();

		align-items: stretch;
		justify-content: stretch;

		.widget-column {
			flex: 1;
		}
	}
}
