.main-navigation {
	@include center-block();
	@include limit-width();
	@include horizontal-padding();
	@include text-center();

	margin-bottom: $padding_vertical;

	ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		position: relative;
	}

	a {
		text-decoration: none;
	}

	.menu-toggle {
		display: none;
		margin: 1px auto 2px;
		padding: 1em;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: 800;
		line-height: 1.5;
		color: #333;
		background-color: transparent;
		border: 0;
		box-shadow: none;
		text-shadow: none;

		&:hover,
		&:focus {
			box-shadow: none;
			background-color: transparent;
		}

		&:focus {
			outline: thin solid;
		}

		.icon {
			top: -2px;
			margin-right: 0.5em;
		}

		.icon-close {
			display: none;
		}
	}

	.js & {
		ul.nav-menu {
			display: none;

			@media screen and (min-width: $site_breakpoint) {
				display: inline-block;
			}
		}

		.menu-toggle {
			display: inline-block;

			@media screen and (min-width: $site_breakpoint) {
				display: none;
			}
		}

		&.toggled {
			ul.nav-menu,
			.menu-toggle .icon-close {
				display: inline-block;
			}

			.menu-toggle .icon-bars {
				display: none;
			}
		}
	}
}
