.widget {
	margin-bottom: $spacing_vertical;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.inline-widget {
	margin-bottom: $spacing_vertical;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $site_breakpoint) {
		margin-bottom: 0;
		padding-right: $padding_horizontal;
		padding-left: $padding_horizontal;

		p {
			display: inline-block;
			margin: 0;
			padding-right: (0.5 * $padding_horizontal);
			padding-left: (0.5 * $padding_horizontal);

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;

			li {
				display: inline-block;
				padding-right: (0.5 * $padding_horizontal);
				padding-left: (0.5 * $padding_horizontal);

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}

			ul {
				display: none;
			}
		}

		label,
		input,
		select {
			margin: 0;
		}
	}
}

.inline-widget-area:not(.site-component),
.inline-widget-area.site-component.is-flex > .site-component-inner {
	@media (min-width: $site_breakpoint) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.inline-widget-area.site-component.is-flex.centered > .site-component-inner {
	@media (min-width: $site_breakpoint) {
		justify-content: center;
	}
}

.inline-widget-title {
	display: none;
}

.widget_login_links,
.widget_social_menu {
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			display: inline-block;
			margin-right: $spacing_horizontal;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.inline-widget {
		ul li {
			margin-right: 0;
		}
	}
}

.widget_social_menu {
	.icon {
		width: 1.5rem;
		height: 1.5rem;
	}

	ul li {
		margin-right: (0.5 * $spacing_horizontal );

		a {
			padding: 0;
		}
	}

	&.inline-widget {
		ul li {
			padding-left: 0;
		}
	}
}
