body,
button,
input,
select,
optgroup,
textarea {
	@include font-size(1);

	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
}

.icon {
	position: relative;
	top: -0.0625em;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	fill: currentColor;
}

@import "headings";
@import "copy";
@import "links";
