/*! --- Theme header will be inserted here automatically. --- */

/* -------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Accessibility
# Alignments
# Layout
# Header
	## Branding
	## Main Navigation
# Content
	## Posts and pages
	## Comments
	## Widgets
# Footer
	## Footer Widgets
	## Social Navigation
	## Footer Navigation
	## Site Info
# Infinite scroll
# Media
	## Captions
	## Galleries
# Plugin Compatibility
------------------------------------------------------------- */
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/* -------------------------------------------------------------
# Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
------------------------------------------------------------- */
@import "normalize";

/* -------------------------------------------------------------
# Typography
------------------------------------------------------------- */
@import "typography/typography";

/* -------------------------------------------------------------
# Elements
------------------------------------------------------------- */
@import "elements/elements";

/* -------------------------------------------------------------
# Forms
------------------------------------------------------------- */
@import "forms/forms";

/* -------------------------------------------------------------
# Accessibility
------------------------------------------------------------- */
@import "modules/accessibility";

/* -------------------------------------------------------------
# Alignments
------------------------------------------------------------- */
@import "modules/alignments";

/* -------------------------------------------------------------
# Layout
------------------------------------------------------------- */
@import "layout/layout";

/* -------------------------------------------------------------
# Header
------------------------------------------------------------- */
@import "header/header";

/* -------------------------------------------------------------
# Content
------------------------------------------------------------- */
@import "content/content";

/* -------------------------------------------------------------
# Footer
------------------------------------------------------------- */
@import "footer/footer";

/* -------------------------------------------------------------
# Infinite scroll
------------------------------------------------------------- */
@import "modules/infinite-scroll";

/* -------------------------------------------------------------
# Media
------------------------------------------------------------- */
@import "media/media";

/* -------------------------------------------------------------
# Plugin Compatibility
------------------------------------------------------------- */
@import "plugin-compat/gutenberg";
