.site {
	display: grid;
	grid-template:
		"top-bar" auto
		"header" auto
		"content" auto
		"footer" auto
		"bottom-bar" auto
		/ 1fr;

	body.navbar-above-header & {
		grid-template:
			"top-bar" auto
			"navbar" auto
			"header" auto
			"content" auto
			"footer" auto
			"bottom-bar" auto
			/ 1fr;
	}

	body.navbar-below-header & {
		grid-template:
			"top-bar" auto
			"header" auto
			"navbar" auto
			"content" auto
			"footer" auto
			"bottom-bar" auto
			/ 1fr;
	}

	body.wrapped-layout & {
		@include center-block();

		max-width: $site_maxwidth;
	}

	.site-header {
		grid-area: header;
	}

	.site-content {
		grid-area: content;
	}

	.site-footer {
		grid-area: footer;
	}

	.site-navbar {
		grid-area: navbar;
	}

	.site-top-bar {
		grid-area: top-bar;
	}

	.site-bottom-bar {
		grid-area: bottom-bar;
	}
}

.site-component {
	display: block;

	> .site-component-inner {
		@include horizontal-padding();
		@include center-block();

		max-width: $site_maxwidth;

		body.wrapped-layout & {
			margin-right: 0;
			margin-left: 0;
			max-width: none;
		}
	}

	&.is-flex > .site-component-inner {
		@media (min-width: $site_breakpoint) {
			@include no-horizontal-padding();

			display: flex;

			> * {
				@include horizontal-padding();
			}
		}
	}

	.sticky-content {
		display: none;
	}

	&.is-sticky {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 9999;

		&.is-sticky-top {
			top: 0;
		}

		&.is-sticky-bottom {
			bottom: 0;
		}

		.wrapped-layout & {
			@media (min-width: ($site_maxwidth)) {
				right: auto;
				left: 50%;
				transform: translateX(-50%);
				max-width: $site_maxwidth;
			}
		}

		.sticky-content {
			display: block;
		}
	}

	body.navbar-left &.is-sticky {
		left: $site_navbar-vertical-width-collapsed;

		@media (min-width: $site_breakpoint) {
			left: $site_navbar-vertical-width;
		}
	}

	body.navbar-right &.is-sticky {
		right: $site_navbar-vertical-width-collapsed;

		@media (min-width: $site_breakpoint) {
			right: $site_navbar-vertical-width;
		}
	}
}

.site-content > .site-component-inner {
	body.no-sidebar & {
		.site-sidebar {
			display: none;
		}
	}

	@media (min-width: $site_breakpoint) {
		flex-direction: row;
		justify-content: center;
		align-items: stretch;

		body.left-sidebar &,
		body.right-sidebar & {
			.site-main {
				flex: 2;
			}

			.site-sidebar {
				flex: 1;
			}
		}

		body.left-sidebar & {
			flex-direction: row-reverse;
		}

		body.sidebar-small & {
			.site-main {
				flex: 3;
			}

			.site-sidebar {
				flex: 1;
			}
		}

		body.sidebar-medium & {
			.site-main {
				flex: 2;
			}

			.site-sidebar {
				flex: 1;
			}
		}

		body.sidebar-large & {
			.site-main {
				flex: 1;
			}

			.site-sidebar {
				flex: 1;
			}
		}
	}
}

.site-content {
	padding-top: $padding_vertical;

	// This fixes a browser bug with the .alignfull classes.
	overflow-x: hidden;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Fix issue with sticky content and toolbar by always keeping it fixed.
@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}
