.alignleft {
	display: inline;
	float: left;
	margin-right: $spacing_horizontal;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $spacing_horizontal;
}

.aligncenter {
	@include center-block;

	clear: both;
}

.alignwide {
	body.no-sidebar .entry-content & {
		@media (min-width: ($site_maxwidth-text + $padding_horizontal * 2)) {
			margin-right: calc(-100vw / 2 + #{$site_maxwidth-text} / 2 + #{$padding_horizontal});
			margin-left: calc(-100vw / 2 + #{$site_maxwidth-text} / 2 + #{$padding_horizontal});
		}

		@media (min-width: ($site_maxwidth)) {
			margin-right: (- ($site_maxwidth - $site_maxwidth-text) / 2 + $padding_horizontal);
			margin-left: (- ($site_maxwidth - $site_maxwidth-text) / 2 + $padding_horizontal);
		}
	}
}

.alignfull {
	body.no-sidebar & {
		margin-right: (- $padding_horizontal);
		margin-left: (- $padding_horizontal);
	}

	body.no-sidebar .entry-content & {
		@media (min-width: ($site_maxwidth-text + $padding_horizontal * 2)) {
			margin-right: calc(-100vw / 2 + #{$site_maxwidth-text} / 2);
			margin-left: calc(-100vw / 2 + #{$site_maxwidth-text} / 2);
		}
	}
}
