.alignleft {
	display: inline;
	float: left;
	margin-right: $spacing_horizontal;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $spacing_horizontal;
}

.aligncenter {
	@include center-block;

	clear: both;
}

.alignwide {
	body.no-sidebar .entry-header &,
	body.no-sidebar .entry-content &,
	body.no-sidebar .entry-footer &,
	body.mce-content-body & {
		@media (min-width: ($site_maxwidth-text + $padding_horizontal * 2)) {
			margin-right: calc(((100vw - #{$site_maxwidth-text} - #{$padding_horizontal} * 2) / 2) * -1);
			margin-left: calc(((100vw - #{$site_maxwidth-text} - #{$padding_horizontal} * 2) / 2) * -1);
		}

		@media (min-width: ($site_maxwidth)) {
			margin-right: calc(((#{$site_maxwidth} - #{$site_maxwidth-text} - #{$padding_horizontal} * 2) / 2) * -1);
			margin-left: calc(((#{$site_maxwidth} - #{$site_maxwidth-text} - #{$padding_horizontal} * 2) / 2) * -1);
		}
	}

	body.wrapped-layout.no-sidebar .entry-header &,
	body.wrapped-layout.no-sidebar .entry-content &,
	body.wrapped-layout.no-sidebar .entry-footer & {
		@media (min-width: ($site_maxwidth-text + $padding_horizontal * 2)) {
			margin-right: ((($site_maxwidth - $site_maxwidth-text - $padding_horizontal * 2) / 2) * -1);
			margin-left: ((($site_maxwidth - $site_maxwidth-text - $padding_horizontal * 2) / 2) * -1);
		}

		@media (min-width: ($site_maxwidth)) {
			margin-right: ((($site_maxwidth - $site_maxwidth-text - $padding_horizontal * 2) / 2) * -1);
			margin-left: ((($site_maxwidth - $site_maxwidth-text - $padding_horizontal * 2) / 2) * -1);
		}
	}
}

.alignfull {
	body.no-sidebar &,
	body.mce-content-body & {
		margin-right: (- $padding_horizontal);
		margin-left: (- $padding_horizontal);
	}

	body.no-sidebar .entry-header &,
	body.no-sidebar .entry-content &,
	body.no-sidebar .entry-footer &,
	body.mce-content-body & {
		@media (min-width: ($site_maxwidth-text + $padding_horizontal * 2)) {
			margin-right: calc(((100vw - #{$site_maxwidth-text}) / 2) * -1);
			margin-left: calc(((100vw - #{$site_maxwidth-text}) / 2) * -1);
		}
	}

	body.wrapped-layout.no-sidebar .entry-header &,
	body.wrapped-layout.no-sidebar .entry-content &,
	body.wrapped-layout.no-sidebar .entry-footer & {
		@media (min-width: ($site_maxwidth-text + $padding_horizontal * 2)) {
			margin-right: ((($site_maxwidth - $site_maxwidth-text) / 2) * -1);
			margin-left: ((($site_maxwidth - $site_maxwidth-text) / 2) * -1);
		}
	}
}
